<div class="container pt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-column">
                <div class="card flex-grow-1 pb-5">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <a href="#!">
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge sale-badge ms-2">-10%</span></h5>
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset"></a>
                        <p>At the helm of Val's Candy Shelf stands Valarie, a trailblazing entrepreneur who forged her path from a young restaurant employee to a seasoned Restaurant General Manager by 2001. With two decades of mastery under her belt, Valarie transitioned her expertise into a new realm, guiding fledgling businesses and struggling enterprises towards success.</p>

                        <p>In 2016, Valarie's journey took a sweeter turn as she delved into her newfound passion for candy-making, crafting homemade confections that evoke nostalgia and delight. As a dedicated Confectioner, she infuses every creation with a touch of her artistry and devotion. While her candy-making journey flourished, Valarie's drive to empower others remained unwavering. She expanded her horizons, offering consulting services to individuals eager to realize their aspirations of financial independence and pursuing their passions.</p>

                        <p>The year 2023 witnessed yet another evolution as Valarie ventured into the realm of software engineering, extending her commitment to facilitating growth. Small businesses found a partner in her, benefiting from custom solutions that streamline modern operations without straining their budgets. Valarie's repertoire now includes web application development, mobile app creation, e-commerce websites, mobile game innovation, app publishing, and efficient website management.</p>

                        <p>Val's Candy Shelf isn't just a candy haven; it's a testament to one woman's dedication, resilience, and boundless ability to transform dreams into reality.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column">
                <div class="card pb-3 pt-3">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img style="padding-left: 5rem;" src="https://i.etsystatic.com/33065052/r/il/1af69c/4704828798/il_794xN.4704828798_ewk7.jpg" alt="" width="90%" aria-describedby="nougatDescription">
                      <a href="#!">
                        <div class="mask">
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge sale-badge ms-2">-10%</span></h5>
                          </div>
                        </div>
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
            <div id="nougatDescription" class="invisible ">
                This is an image of a batch of our assorted fruit nougat that is packaged for distribution.
            </div>
        </div>
    </div>
</div>