<div class="pb-5 pt-5 container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h4>Handmade Candies</h4>
            <p class="lead">
                Discover the realm of artisanal candies, offering a diverse range of flavors to satisfy your cravings. At the heart of our selection lies the beloved assorted fruit nougat, an unparalleled fusion of our signature marshmallow and tantalizing fruit chews. Elevate your taste journey with our handcrafted confections that are as much a treat for the eyes as they are for the taste buds. 
            </p>        
            <a class="btn btn-primary" href="#" role="button">
                Check Out Our Store »
            </a>
        </div>
        <div class="col-lg-4">
            <h4>Application Development</h4>
            <p class="lead">
                Unleash the power of software engineering, driving technological evolution with a fusion of creativity and practicality. At the forefront of our offerings is a top-tier ecommerce website, a testament to our prowess in crafting digital solutions. Seamlessly merging form and function, our ecommerce platform empowers businesses to conquer the online realm with confidence.
            </p>      
            <a class="btn btn-info" href="#" role="button">
                Check Out Our Apps »
            </a>
        </div>
        <div class="col-lg-4">
            <h4>ANSI Food Manager Certification</h4>
            <p class="lead">
                Unleash the power of software engineering, driving technological evolution with a fusion of creativity and practicality. At the forefront of our offerings is a top-tier ecommerce website, a testament to our prowess in crafting digital solutions. Seamlessly merging form and function, our ecommerce platform empowers businesses to conquer the online realm with confidence.
            </p>  
            <a class="btn btn-warning" href="#" role="button">
                View details »
            </a>
      </div>
    </div>
</div>  