<section class="container pt-5 mt-5">
    <div>
        <div class="row gx-5">
            <aside class="col-lg-6">
              <div class="border rounded-4 mb-3 d-flex justify-content-center">
                <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="{{SelectedImage}}" (error)="handleImageError($event)" alt="Product Image">
                  <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{SelectedImage}}" (error)="handleImageError($event)" alt="Product Image" />
                </a>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <a *ngFor="let StyleImage of SelectedStyle.productImageUrls" data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="#" class="item-thumb">
                  <img width="60" height="60" class="rounded-2" src="{{ StyleImage }}" alt="Product Image" />
                </a>
              </div>
              <!-- thumbs-wrap.// -->
              <!-- gallery-wrap .end// -->
            </aside>
            <div class="col-lg-6">
              <div class="ps-lg-3">
                <h4 class="title text-dark">
                  {{ Product.product.name }}
                </h4>
                <!-- <div class="d-flex flex-row my-3">
                 <div class="text-warning mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span class="ms-1">
                      4.5
                    </span>
                  </div>
                  <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                  <span class="text-success ms-2">In stock</span>
                </div> -->
      
                <p>
                  {{ Product.product.description }}
                </p>
      
                <div class="row">
                  <dt class="col-3">Specifics</dt>
                  <dd class="col-9"> {{ Description }}</dd>
                  
                  <dt class="col-3">Price</dt>
                  <dd class="col-9">{{ Price }}</dd>         
                </div>
      
                <hr />
      
                <div class="row mb-4">
                  <div class="col-md-4 col-6 mb-5 mt-3">
                    <label class="mb-2">Size</label>
                    <!-- Assuming Style has an 'id' property, change 'id' to the actual property used as the unique identifier -->
                    <select class="form-select border border-secondary" style="height: 3rem;" (change)="OnChange($event)">
                      <option *ngFor="let Style of Product.styles" [value]="Style">{{ Style.name }}</option>
                    </select>
                  </div>
    
    
                    <hr />
    
                  <!-- col.// -->
                  <div class="col-md-4 col-6 pt-3">
                    <label class="mb-2 d-block">Quantity
                        <button class="btn btn-secondary ms-3">3 in cart</button>
                    </label>
                  </div>
                </div>
                <div class="input-group pt-3 mb-3">
                    <button class="btn btn-primary border border-secondary px-3 mt-3"><i class="fas fa-plus"></i> Add to Cart</button>
                    <button class="btn btn-warning border border-secondary px-3 mt-3"><i class="fas fa-minus"></i> Remove One From Cart</button>
                </div>
              </div>
            </div>
          </div>
    </div> 
  </section>