<app-navbar></app-navbar>
<!-- 
<div class="container-fluid bg-white text-center">
    <img class="ms-5" height="300rem" src="../assets/logo.png"
    alt="vals candy shelf logo">
    <h1>Val's Candy Shelf</h1>
    <p class="lead">
        Our new web application is on the way!
        <br />
        Check back soon for hand-crafted delicious candy.
    </p>
    <a href="https://www.etsy.com/shop/TheCandyShelf">Can't wait? 
        Check out our etsy!</a>
</div>
-->



<router-outlet></router-outlet>
<app-footer></app-footer>

<app-cartmodal></app-cartmodal>
<app-contactmodal></app-contactmodal>